<html>

<head>
  <meta charset="utf-8">
  <title>Интернет-магазин</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <!-- <link rel="stylesheet" href="./system-font.css">
  <link rel="stylesheet" href="./main.css"> -->
  <script src=" https://maps.googleapis.com/maps/api/js?key=AIzaSyA4D03uZZ1sOkYObaGzNCnI_hCtCGAIWFY"></script>
</head>

<body>
  <div id="app">
  </div>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>